<header>
    <nav class="navbar">
        
        <div class="nav-brand-and-options-container">
            <div class="nav-brand">
                <h2>E-Cart <small>Seller</small></h2>
                
            </div>
            <% if(isAuthenticated){ %>
            <ul class="nav-options-links-list">
                <a href="/add-product">
                    <li>Add Product</li>
                </a>
                <a href="/manage-products">
                    <li>Manage Products</li>
                </a>
            </ul>
            <% } %>
        </div>

        <div class="nav-orders-profile">
            <a href="/" class="nav-orders tooltip">
                <img src="/assets/icons/dashboard_icon_white.svg" alt="Dashboard">
                <span class="tooltip-text">Dashboard</span>
            </a>
            <% if(isAuthenticated){ %>
            <a href="/orders/order-requests" class="nav-orders tooltip">
                <img src="/assets/icons/orders_icon_white.svg" alt="Orders">
                <small class="orders-label"><%= pendingOrders %></small>
                <span class="tooltip-text">Order requests</span>
            </a>
            <% } %>

            <% if(!isAuthenticated){ %>
            <a href="/login">
                <button class="btn nav-login-btn">Login</button>
            </a>
            <a href="/signup">
                <button class="btn nav-signup-btn">Signup</button>
            </a>
            <% } %>

            <% if(isAuthenticated){ %>
            <!-- Dropdown menu from profile button -->
            <button type="button" class="profile-image-btn" id="profile-image-btn">
                <% if(profilePicture){ %>
                    <img src="/<%= profilePicture %>" class="profile-img">
                <% } else { %>
                    <img src="/assets/images/user.png" class="profile-img">
                <% } %>
                <img src="/assets/icons/down_icon_white.svg" class="down-arrow-icon" id="downIcon">
            </button>
            <div class="nav-menu-wrap" id="subMenu">
                <div class="nav-menu">
                    <div class="user-info">
                        <a href="/profile">
                            <% if(profilePicture){ %>
                                <img src="/<%= profilePicture %>">
                            <% } else { %>
                                <img src="/assets/images/user.png">
                            <% } %>
                        </a>
                        <h3><%= sellerName %></h3>
                    </div>
                    <hr class="nav-menu-hr">
                    <a href="/profile" class="menu-item-link">
                        <img src="/assets/icons/profile_icon.svg">
                        <p>Your Profile</p>
                        <span>></span>
                    </a>
                    <a href="/orders/order-requests" class="menu-item-link">
                        <img src="/assets/icons/orders_icon.svg">
                        <p>Orders</p>
                        <span>></span>
                    </a>
                    <a href="/add-product" class="menu-item-link">
                        <img src="/assets/icons/addProduct_icon_black.svg">
                        <p>Add Product</p>
                        <span>></span>
                    </a>
                    <a href="/manage-products" class="menu-item-link">
                        <img src="/assets/icons/manageProducts_icon_black.svg">
                        <p>Manage Products</p>
                        <span>></span>
                    </a>
                    <a href="#" class="menu-item-link">
                        <img src="/assets/icons/helpSupport_icon.svg">
                        <p>Help & Support</p>
                        <span>></span>
                    </a>
                    <hr class="nav-menu-hr">
                    <form action="/signout" method="post">
                        <button type="submit" class="menu-item-link sign-out-btn">
                            <img src="/assets/icons/signout_icon_black.svg">
                            <p>Sign out</p>
                            <span>></span>
                        </button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </nav>
</header>