/*** Common CSS ***/
.mtb-8 {
    margin: 8px 0;
}

.mtb-16 {
    margin: 16px 0;
}

.bold {
    font-weight: 600;
}

.product-url {
    text-decoration: none;
    color          : #000000;
    transition     : var(--secondary-transition-time-sec) ease;
}

.product-url:hover {
    color: var(--secondary-dark-clr);
}

/********* Category links container *********/
.page-title-info::after {
    display         : block;
    content         : "";
    width           : 100%;
    height          : 2px;
    border-radius   : 8px;
    background-color: var(--secondary-clr);
}

.page-title-info .page-title {
    margin     : 8px 0;
    padding    : 0 8px;
    font-size  : 32px;
    font-weight: 500;
}

/********* Category links container *********/
.category-links-container {
    width          : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    column-gap     : 16px;
}

.category-links-container .category-link {
    width          : 100%;
    display        : block;
    font-size      : 18px;
    font-weight    : 500;
    text-decoration: none;
    text-align     : center;
    color          : #b0b0b0;
    transition     : var(--secondary-transition-time-sec);
}

.category-link .category {
    padding      : 8px 0;
    width        : 100%;
    border-bottom: 2px solid #b0b0b0;
    transition   : var(--secondary-transition-time-sec);
}

.category-links-container .category-link:hover {
    color: var(--secondary-clr);
}

.category-link:hover .category {
    border-bottom: 2px solid var(--secondary-clr);
}

.active .category {
    border-bottom: 2px solid var(--secondary-dark-clr);
    color        : var(--secondary-dark-clr);
}

/********* Orders container *********/
.orders-container {
    width: 100%;
}

.orders-container .orders-wrapper {
    display   : flex;
    column-gap: 8px;
    row-gap   : 8px;
}

/****** Orders statistics box ******/
.orders-wrapper .orders-statistics-box {
    width     : 100%;
    max-width : 320px;
    position  : sticky;
    top       : 88px;
    align-self: flex-start;
}

.orders-statistics-box .orders-statistics-wrapper {
    width           : 100%;
    background-color: var(--bg-light);
}

.orders-statistics-wrapper .order-statistics-title {
    padding       : 12px 16px;
    text-transform: uppercase;
    font-size     : 17px;
    font-weight   : 600;
    border-bottom : 1px solid var(--secondary-clr);
}

.stat-items-container {
    padding: 0 16px;
}

.stat-items-container .stat-item {
    margin         : 16px 0;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.stat-item:last-child {
    border-top    : 1px dashed var(--secondary-clr);
    padding-top   : 4px;
    padding-bottom: 16px;
}

/****** Orders content ******/
.orders-wrapper .orders-content {
    width: 100%;
}

/*** Order item container ***/
.order-link {
    display        : block;
    text-decoration: none;
    color          : #000000;
}

.orders-content .order-item-container {
    margin          : 16px 0;
    padding         : 16px;
    display         : flex;
    align-items     : flex-start;
    background-color: var(--whiteSmoke-clr);
    transition      : var(--primary-transition-time-sec);
}

.order-item-container:first-child {
    margin-top: 0;
}

.orders-content .order-item-container:hover {
    box-shadow: 0 0 4px #808080;
}

/* Product image */
.order-item-container>.product-url {
    display   : block;
    /* border : 1px solid #e2e1e1; */
}

.order-item-container .item-image {
    width           : 180px;
    min-width       : 180px;
    height          : 180px;
    padding         : 8px;
    background-color: #ffffff;
}

.order-item-container .item-image img {
    width     : 100%;
    height    : 100%;
    object-fit: contain;
}

/** Item information **/
.order-item-container .item-info-wrapper {
    width          : 100%;
    min-height     : 180px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    padding        : 0 16px;
}

/* Item details */
.item-details .product-title {
    text-decoration: none;
    font-weight    : 500;
}

.price-quantity-wrapper {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

.price-discount-info .price-title {
    font-size   : 15px;
    margin-right: 4px;
}

.price-discount-info .price {
    font-size  : 20px;
    font-weight: 500;
}

.price-quantity-wrapper .quantity-box {
    display    : flex;
    align-items: center;
    column-gap : 8px;
}

.quantity-box .quantity-title {
    font-size: 15px;
}

/** Price and Customer details **/
.payment-customer-details {
    display        : flex;
    justify-content: space-between;
}

/* Seller Information */
.item-details .customer-info-box {
    display: inline-block;
}

.customer-info-box .deliverTo {
    font-size: 14px;
    display  : inline-block;
}

.customer-info-box .customer-info-wrapper {
    position: relative;
    display : inline-block;
}

.customer-info-wrapper .i-btn {
    width         : 16px;
    height        : 16px;
    vertical-align: middle;
    border-radius : 50%;
    font-size     : 13px;
    font-family   : 'Times New Roman', Times, serif;
    font-style    : italic;
    border        : 1px solid var(--secondary-clr);
    color         : var(--secondary-clr);
}

.customer-info-wrapper .i-btn:hover {
    cursor: pointer;
    border: 1px solid var(--secondary-dark-clr);
    color : var(--secondary-dark-clr);
}

.customer-info-wrapper .customer-info {
    padding         : 8px;
    position        : absolute;
    right           : 0;
    width           : 300px;
    box-shadow      : 0 0 4px #808080;
    border-radius   : 8px;
    background-color: var(--bg-light);
    transition      : var(--primary-transition-time-sec) ease;
    overflow-x      : scroll;
}

.customer-info .info-item {
    padding        : 4px 0;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    font-size      : 14px;
    border-bottom  : 1px solid #ffffff;
}

.customer-info .info-item:last-child {
    padding-bottom: 0;
}

.info-item .customer-detail {
    font-weight: 500;
    width      : 50%;
}

.customer-info .address-info {
    display: block !important;
}

/* Payment */
.payment-wrapper .payment-title {
    font-size: 15px;
}

/* Item quantity and delivery */
.item-info-wrapper .item-action-delivery {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    row-gap        : 8px;
    font-size      : 14px;
}

.item-action-delivery .shipped-on {
    color: var(--secondary-clr);
}

.delivery .delivered,
.delivery .delivered~span {
    color: var(--success-clr);
}

.delivery .cancelled,
.delivery .cancelled~span {
    color: var(--danger-clr);
}

.item-action-delivery .action {
    display    : flex;
    column-gap : 8px;
    align-items: center;
}

.action .btn {
    height: 32px;
}

/*** For no orders (orders empty container) ***/
.orders-empty-container {
    width           : 100%;
    height          : 524px;
    background-color: var(--bg-light);
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

.orders-empty-container .orders-empty-img {
    margin: 16px 0;
    width : 160px;
    height: auto;
}

.orders-empty-container .orders-empty-title {
    font-weight: 600;
}

.orders-empty-container .orders-empty-btn {
    margin: 16px 0;
    width : 160px;
}


/********* Responsive (Media query) *********/
@media(max-width:1360px) {
    main {
        position: relative;
        padding : 0;
    }
}

@media(max-width:1024px) {
    .orders-container .orders-wrapper {
        flex-direction: column;
    }

    .orders-wrapper .orders-statistics-box {
        margin: auto;
    }
}

@media(max-width:750px) {

    .category-links-container {
        column-gap: 8px;
    }

    .category-link .category,
    .item-details .product-title,
    .item-details .product-seller,
    .item-details .stock,
    .price-discount-info .price-title,
    .quantity-box .quantity-title,
    .payment-wrapper>*,
    .customer-info-box .customer-name {
        font-size: 80% !important;
    }

    .delivery-address-container,
    .delivery-address-container .address {
        font-size: 90%;
    }

    .orders-content .order-item-container {
        padding: 8px;
    }

    .orders-container .orders-wrapper {
        flex-direction: column;
    }

    .order-item-container .item-image {
        width     : 106px;
        min-width : 106px;
        min-height: 180px;
    }

    .price-quantity-wrapper {
        flex-direction: column;
    }

    .price-discount-info .price {
        font-size: 17px;
    }


    .order-item-container .item-info-wrapper {
        padding-right: 0;
        min-height   : 180px;
    }

    /* Payment customer Details */
    .payment-customer-details {
        flex-direction: column-reverse;
    }

    /* Item Action and delivery */
    .item-info-wrapper .item-action-delivery {
        flex-direction : column;
        justify-content: space-between;
        align-items    : flex-start;
    }

    .delivery {
        font-size: 12px;
    }

    /* Order statistics box */
    .orders-wrapper .orders-statistics-box {
        position : static;
        max-width: 100%;
    }
}