<div class="pop-up-container danger">
    <p class="info"><%= message %></p>
    <button type="button" class="close-popup-btn">
        <img src="/assets/icons/close_icon_gray.svg" alt="Close">
    </button>
</div>