<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> | E-Cart</title>
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/authentication/style.css">
    <link rel="stylesheet" href="/styles/authentication/responsive.css">
    <link rel="stylesheet" href="/styles/forIncludes/popups.css">
    <style>
        .pop-up-container{
            position: initial;
            top:0;
            padding:12px;
            margin-bottom: 8px;
        }
    </style>
</head>

<body>
    <section>
        <div class="auth-sidebar">
            <img src="/assets/illustrations/login_illustrator.svg" alt="Welcome Back">
        </div>
        <div class="auth-content">
            <form action="/forgot-password" id="auth-form" class="auth-form" method="post" novalidate>
                <h3>E-Cart</h3>
                <h2>Forgot your password?</h2>
                <div class="instruction">
                    Enter the email address associated with your account and we'll send you a link to reset your password.
                </div>
                <% if(errorMessage.length > 0){ %>
                <%- include('../includes/popups/dangerPopup.ejs', { message: errorMessage}) %>
                <% } %>
                <% if(successMessage.length > 0){ %>
                <%- include('../includes/popups/successPopup.ejs', { message: successMessage}) %>
                <% } %>
                <% if(warningMessage.length > 0){ %>
                <%- include('../includes/popups/warningPopup.ejs', { message: warningMessage}) %>
                <% } %>
                <div class="input-container">
                    <label for="email">Email</label>
                    <small class="input-error" id="email-err"></small>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="input-container">
                    <button type="submit" class="auth-submit-btn">Get link</button>
                </div>
                <div class="input-container">
                    <p>Don't have an account? <a href="/signup">Sign up</a></p>
                </div>
            </form>
        </div>
    </section>

    <script src="/js/authentication/forgotPasswordValidation.js"></script>
    <script src="/js/includes/popups.js"></script>
</body>

</html>